<div class="grid grid-cols-2 gap-4">
  <div>
    <div class="mb-5">
      <div class="text-branch font-bold">
        <i class="fa-solid fa-atom mr-1"></i>
        Công thức hóa học
      </div>
      <input type="text" nz-input class="w-full custom-input">
    </div>
    <div class="mb-5">
      <div class="text-branch font-bold">
        <i class="fa-solid fa-atom mr-1"></i>
        Khối lượng nguyên tủ (g/mol)
      </div>
      <input type="text" nz-input class="w-full custom-input">
    </div>
    <div class="mb-5">
      <div class="text-branch font-bold">
        <i class="fa-solid fa-atom mr-1"></i>
        Tính chất vật lý
      </div>
      <input type="text" nz-input class="w-full custom-input">
    </div>
  </div>
  <div>
    vbbbb
  </div>
</div>