<div>
  <div class="grid grid-cols-2 gap-4 mb-5">
    <div>
      <div class="mb-5">
        <div class="text-branch font-bold">
          <i class="fa-solid fa-atom mr-1"></i>
          Khối lượng nguyên tủ (g/mol)
        </div>
        <input type="number" nz-input class="w-full custom-input" [(ngModel)]="otherInfo.numberOfMoles">
      </div>
      <div class="mb-5">
        <div class="text-branch font-bold">
          <i class="fa-solid fa-atom mr-1"></i>
          Tính chất vật lý
        </div>
        <angular-editor style="height: 179px;" id="editor1" [config]="editorConfig" [(ngModel)]="otherInfo.physicalProperties"></angular-editor>
      </div>
    </div>
    <div>
      <div class="relative w-full h-400px">
        <label for="upload-file1" class="cursor-pointer">
          <div *ngIf="!otherInfo.bondStructure" class="w-518px py-180px text-center border-branch border border-dashed">
            <i class="fa-solid fa-camera text-branch text-56px"></i>
          </div>
          <img *ngIf="otherInfo.bondStructure" [src]="otherInfo.bondStructure" alt="Hình ảnh chất hóa học" class="w-full h-full"
            style="object-fit: cover;">
        </label>
        <input type="file" accept="image/*" class="opacity-0 absolute top-0" id="upload-file1"
          (change)="onImageSelected($event)" />
        <div class="text-center font-bold">Hình ảnh cấu tạo phân tử</div>
      </div>
    </div>
  </div>
  <div>
    <div class="mb-5">
      <div class="text-branch font-bold">
        <i class="fa-solid fa-atom mr-1"></i>
        Tính chất Hóa học
      </div>
      <angular-editor style="height: 179px;" id="editor1" [config]="editorConfig" [(ngModel)]="otherInfo.chemicalProperties"></angular-editor>
    </div>
    <div class="mb-5">
      <div class="text-branch font-bold">
        <i class="fa-solid fa-atom mr-1"></i>
        Trạng thái tự nhiên
      </div>
      <angular-editor style="height: 179px;" id="editor1" [config]="editorConfig"></angular-editor>
    </div>
  </div>
</div>