<div>
  <nz-spin [nzSpinning]="isLoading">
    <div class="grid grid-cols-2 gap-2 items-center mb-3">
      <div class="grid grid-cols-2 gap-2">
        <div>
          <nz-input-group [nzPrefix]="suffixIconSearch" [nzSuffix]="inputClearTpl">
            <input type="text" nz-input placeholder="Tìm kiếm theo tên" [(ngModel)]="chemiscalName" (keyup.enter)="getDataChemistry()"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="chemiscalName"
              (click)="clearData()"></span>
          </ng-template>
        </div>
        <div>
          <button nz-button nzType="primary" (click)="openBarcodeScannerModal()">
            <i class="fa-solid fa-barcode mr-1"></i>
            Quét
          </button>
        </div>
      </div>
      <div class="flex items-center justify-end">
        <div class="mr-2">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" class="btn-success">
            <i class="fa-solid fa-plus mr-1"></i>
            Thêm
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="openAddChemistryModal()">Thêm mới</li>
              <li nz-menu-item (click)="openMultipleAddModal()">Thêm nhiều</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <button nz-button nzType="primary" nzDanger [disabled]="!rowSelected" (click)="deleteChemistry()">
          <i class="fa-solid fa-trash mr-1"></i>
          Xóa
        </button>
      </div>
    </div>
    <div class="container-main">
      <nz-table #tableChemistry [nzData]="listChemistry" nzNoResult="Không có dữ liệu" nzTableLayout="fixed"
        [nzScroll]="{ x: '1200px', y: '400px'}" [nzShowPagination]="false">
        <thead>
          <tr>
            <th class="min-w-200px">Mã chất</th>
            <th class="min-w-200px">Tên Hóa học</th>
            <th class="min-w-200px">Danh pháp</th>
            <th class="min-w-200px">Ký hiệu</th>
            <th class="min-w-200px">Hạn sử dụng</th>
            <th class="min-w-250px">Tình trạng lưu trữ</th>
            <th class="min-w-250px">Tình trạng sử dụng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableChemistry.data" (dblclick)="editChemistry(item)" (click)="selectRow(item)" [class]="rowSelected && item.id === rowSelected.id ? 'bg-branch' : ''">
            <td></td>
            <td>{{item.name}}</td>
            <td>{{item.nomenclature}}</td>
            <td>{{item.formula}}</td>
            <td>{{formatDate(item.expirationDate)}}</td>
            <td>
              <div *ngIf="item.storageStatus" class="px-5 bg-blue-500 text-center text-white rounded">Còn</div>
              <div *ngIf="!item.storageStatus" class="px-5 bg-red-500 text-center text-white rounded">Còn</div>
            </td>
            <td>
              <div *ngIf="item.usingStatus" class="px-5 bg-blue-500 text-center text-white rounded">Còn hạn</div>
              <div *ngIf="!item.usingStatus" class="px-5 bg-red-500 text-center text-white rounded">Hết hạn</div>
            </td>
          </tr>
        </tbody>
        
      </nz-table>
    </div>
    <div class="text-end">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="totalItems"></nz-pagination>
    </div>
  </nz-spin>
</div>