<div>
  <nz-spin [nzSpinning]="isLoading">
    <button nz-button (click)="selectAll()" nzType="primary" class="mb-5">Chọn tất cả</button>
    <div>
      <nz-table #tableChemistry [nzData]="listChemistry" nzNoResult="Không có dữ liệu" nzTableLayout="fixed" 
        [nzScroll]="{ x: '1200px', y: '300px'}">
        <thead>
          <tr>
            <th class="min-w-200px">Loại chất</th>
            <th class="min-w-200px">Tên Hóa học</th>
            <th class="min-w-200px">Danh pháp</th>
            <th class="min-w-200px">Ký hiệu</th>
            <th class="min-w-200px">Số lượng</th>
            <th class="min-w-250px">Hạn sử dụng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableChemistry.data" (click)="selectRow(item)" [class]="listChecked.includes(item) ? 'bg-branch text-white' : ''">
            <td>
              {{item.chemiscalType}}
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.nomenclature}}
            </td>
            <td>
              {{item.formula}}
            </td>
            <td>
              {{item.quantity}}
            </td>
            <td>
              {{formatDate(item.expirationDate)}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-spin>
</div>