.background-description {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../../../../assets/image/description.png') repeat;
}
.notification-container {
  top: 33%;
  right: 2.5rem;
}